@import url('https://fonts.googleapis.com/css?family=Lobster+Two');
@import url('https://fonts.googleapis.com/css?family=Merienda');
@import url('https://fonts.googleapis.com/css?family=Handlee');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Gochi+Hand');

*{
    margin:0;
}

.ocultar{
    display:none;
}
 p{
     color: black;
     font-family:'Merienda', cursive;
     font-size:30px;
     margin-top: 30px;
 }
h1{
    color:#65108d;
    font-size: 1.5cm;
    font-family: 'Lobster Two', cursive;
    text-align:center;
    padding-top: 200px;
    
}

#head{
    width: 100%;
    height: 260px;
    background: #abebde ;
    padding: 20px;
    background-image: url("http://i66.tinypic.com/2vtqicy.jpg");
    background-repeat: no-repeat;
    background-position: 300px;

}

#headcod{
    width: 100%;
    height: 260px;
    background: #abebde ;
    padding: 20px;
    background-image: url("http://i66.tinypic.com/2vtqicy.jpg");
    background-repeat: no-repeat;
    background-position: 300px;


}

ol{
    font-family: 'Gochi Hand', cursive;
    color: rgb(155, 20, 114);
    font-size: 25px;
}
#bienvenida{
    margin-left: 30px;
    margin-right: 70px;
    height: 500px;
    
}

#boxcod{
    margin-left: 30px;
    margin-right: 70px;
    
}

.input{
    border-radius: 2px;
    border: 3px dotted #800080;
    font-family: 'Pacifico', cursive;
    font-size: 20px;
}

.boton{
    text-decoration: none;
    padding: 10px;
    font-family:'Handlee', cursive;
    font-weight: 600;
    font-size: 20px;
    color: #9d45a0;
    background-color: #eaf1e7;
    border-radius: 6px;
    border: 1px solid  #008B8B ;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
    

}

.imagen{
    height: 50%;
    width:50%;
    margin-top: 20px;
    margin-left: 250px;
}

